{extend name="public:base" /}
{block name="head"}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>忘记密码</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <script src="/static/assets/js/jquery.min.js"></script>
</head>
{/block}
{block name="top"}
<body data-type="login">
    <script src="/static/assets/js/theme.js"></script>
    <div class="am-g tpl-g">
{/block}
{block name="nav"}
{/block}
{block name="content"}
        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-title">忘记密码</div>
                <span class="tpl-login-content-info">
                  重置用户密码
              </span>


                <form class="am-form tpl-form-line-form">
                    <div class="am-form-group">
                        <input type="text" id="xuehao" class="tpl-form-input"  placeholder="请输入学号">
                    </div>

                    <div class="am-form-group">
                        <input type="text" id="phone" class="tpl-form-input"  placeholder="注册时填写的手机号">
                         
                    </div>

                    <div class="am-form-group">
                        <input type="text" id="duanxinma" class="tpl-form-input" style="float:left;width: 75%"  placeholder="验证码">
                        <button type="button" style="float:right" onclick="sendPhone()">获取验证码</button>
                    </div>

                    

                    <div class="am-form-group">

                        <button type="button" onclick="upPassword()" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">提交</button>

                    </div>
                </form>
            </div>
        </div>
{/block}
{block name="foot"}
</div>
<script src="/static/assets/js/amazeui.min.js"></script>
<script src="/static/assets/js/app.js"></script>

</body>
<script>
    function sendPhone()
    {
        var xuehao = $('#xuehao').val();
        var phone = $('#phone').val();
        $.ajax({
            url     :   "{:url('user/sendPhone')}",
            data    :   {"xuehao":xuehao,"phone":phone},
            dataType:   "json",
            type    :   "post",
            success :   function(data){
                if(data.code === 1)
                {
                    alert(data.message);
                }
                else if(data.code === 0)
                {
                    alert(data.message);
                }
            }
        });
    }

    function upPassword()
    {
        var duanxinma = $("#duanxinma").val();
        var xuehao = $("#xuehao").val();
        var phone = $("#phone").val();
        $.ajax({
            url     :   "{:url('user/checkyzm')}",
            type    :   "post",
            data    :   {"duanxinma":duanxinma,"xuehao":xuehao,"phone":phone},
            dataType:   "json",
            success :   function(data){
                if(data.code === 1)
                {
                    alert(data.message);
                    window.location.href = "{:url('user/updatePassword')}";
                }else{
                    alert(data.message);
                }
            }
        });
    }

</script>
</html>
{/block}
